:root {
    --font-size: 1.125rem;
}

[data-theme="light"] {
    /** CSS PRIMARY COLORS */
    --color-primary-100: #ffffff;
    --color-primary-200: #d4e9fd;
    --color-primary-300: #a6d3fa;
    --color-primary-400: #71bef7;
    --color-primary-500: #03a9f4;
    --color-primary-600: #1e7cb1;
    --color-primary-700: #1f5172;
    --color-primary-800: #172b39;
    --color-primary-900: #000000;

}

[data-theme="dark"] {

    /** CSS DARK THEME PRIMARY COLORS */
    --color-primary-100: #03a9f4;
    --color-primary-200: #4ab2f5;
    --color-primary-300: #6abcf7;
    --color-primary-400: #84c5f8;
    --color-primary-500: #9bcefa;
    --color-primary-600: #b1d8fb;
    /** CSS DARK THEME SURFACE COLORS */
    --color-surface-100: #121212;
    --color-surface-200: #282828;
    --color-surface-300: #3f3f3f;
    --color-surface-400: #575757;
    --color-surface-500: #717171;
    --color-surface-600: #8b8b8b;
    /** CSS DARK THEME MIXED SURFACE COLORS */
    --color-surface-mixed-100: #191f25;
    --color-surface-mixed-200: #2e3439;
    --color-surface-mixed-300: #454a4f;
    --color-surface-mixed-400: #5d6166;
    --color-surface-mixed-500: #76797e;
    --color-surface-mixed-600: #8f9396;

}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: var(--font-size);
    background: var(--color-primary-100);
    color: var(--color-primary-800);
}

p {
    line-height: 1.6;
}

header,
main {
    margin-inline: 1rem;
    overflow: hidden;
}

header {
    /* background-color: rgb(218, 218, 218); */

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1rem;
        background-color: var(--bg-color);
        color: var(--text-color);

        .logo svg {
            color: var(--text-color);
        }

        .navbar-elements {
            display: flex;
            align-items: center;
            gap: 1rem;

            .nav-features {

                .theme-option {
                    background: url('./assets/moon-svgrepo-com.svg');
                }

                .nav-toggler {
                    background: url('./assets//hamburger-menu-svgrepo-com.svg');
                }

                .nav-closer{
                    display:none;
                    position: absolute;
                    top: 1.5rem;
                    right: 1.5rem;
                    background: url('./assets/close-md-svgrepo-com.svg');

                }

                .btn {
                    margin-inline: 0.5rem;
                    border-radius: 50%;
                    width: 2.5rem;
                    aspect-ratio: 1;
                    cursor: pointer;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    border: none;
                }
            }

            .navbar__links {
                display: flex;
                list-style: none;
                gap: 1.5rem;

                .nav-link {
                    font-weight: 500;

                    &:hover {
                        color: red;
                    }
                }
            }
        }



    }
}

@media screen and (max-width: 50em) {


    .navbar__links {
        display: none;
        position: fixed;
        inset: 0 0 0 20%;
        background-color: var(--color-primary-800);
        color: var(--color-primary-200);
        text-align: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease-out;
        padding-top: 10rem;
        z-index: 999;
    }

    .navbar__links[data-visible="true"] {
        transform: translateX(0%);
    }
    .nav-closer{
        display: block;
        z-index: 1001;
        color: var(--color-primary-200);
        background-color: var(--color-primary-200);
    }


}

main {
    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 3.5rem;
        gap: 3rem;
        position: relative;
        /* background-color: aliceblue; */

        .hero-section__image {
            position: relative;
            flex: 1;

            .element {
                overflow: hidden;
                background-color: rgb(255, 173, 73);
                border-radius: 50%;
                position: relative;

                img {
                    width: 100%;
                    padding-top: 0rem;
                }
            }
        }

        .hero-content {
            flex: 2;
            display: flex;
            flex-direction: column;
            text-align: center;
            /* border-left: 3px solid rgb(231, 231, 231); */

            hr {
                margin-block: 1rem;
                opacity: 0.4;
            }

            .hero-content__headings {
                h1 {
                    font-size: 3.8rem;
                    line-height: 1.1;
                }

                h2 {
                    font-size: 2.5rem;

                    span {
                        color: var(--color-primary-600);
                        font-weight: 700;
                    }
                }
            }

            .hero-content__details {
                margin-top: 1rem;

                p:first-child {
                    font-weight: bold;
                }
            }

            .hero-content__social-links {

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    list-style: none;

                    li {
                        img {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }

    .about-section {
        background-color: var(--color-primary-200);
        border-radius: 2rem;
        text-align: center;
        padding-block: 3rem;

        h1 {
            font-size: 3rem;
        }

        p {
            margin-top: 2rem;
            padding-inline: 0.5rem;
            line-height: 1.5;
            text-align: justify;
            text-indent: 4rem;
            padding-inline: 1.5rem;
        }

        .my-skill-set {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            gap: 2rem;

            h2 {
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            h2::after,
            h2::before {
                content: "";
                height: 5px;
                width: 50px;
                margin-top: 2px;
                border-radius: 0 5px 5px 0;
                background: linear-gradient(90deg, transparent, var(--color-primary-300));
            }

            h2::after {
                border-radius: 5px 0 0 5px;
                background: linear-gradient(90deg, var(--color-primary-300), transparent);

            }



            .wrapper {
                max-width: 250px;
                white-space: nowrap;

                .scroller {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 0.5rem;
                    list-style: none;
                    /* animation: 80s slide infinite linear; */


                    li {
                        background-color: var(--color-primary-700);
                        color: var(--color-primary-200);
                        border-radius: 5px;
                        padding: 0.5rem 1rem;

                    }
                }

            }

        }
    }
}


@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }

}

@media screen and (min-width: 50rem) {

    header,
    main {
        margin-inline: 10rem;
    }

    header {
        .navbar {
            .navbar-elements {

                .nav-features {
                    .nav-toggler {
                        display: none;
                    }
                }


            }
        }

    }

    main {
        .hero-section {
            flex-direction: row;
            padding-block: 5rem;

            .hero-content {
                text-align: left;

                .hero-content__social-links {

                    ul {
                        justify-content: flex-start;
                    }
                }
            }


        }

        .about-section {
            padding-block: 10rem;

            p {
                padding-inline: 8rem;
                margin-top: 3rem;
            }

            .my-skill-set {
                .wrapper {
                    max-width: 600px;


                }

                .wrapper[data-animated="true"] {
                    width: max-content;
                    overflow: hidden;
                    -webkit-mask: linear-gradient(90deg, transparent, white 20%);
                    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

                    .scroller {
                        flex-wrap: nowrap;
                        animation: scroll 10s linear infinite;
                    }
                }
            }
        }
    }

}