:root {
    --font-size: 1.125rem;
}

[data-theme="light"] {
    --clr-body-bg: #edecea;
    --clr-text: #111111;
    --clr-section-bg: #d4e9fd;
    --clr-skill-element-bg: #71bef7;
    --clr-primary: #2196f3;
    --clr-input-border:#2e2e2e;
    --clr-input-focus:#4eb2ff;



}

[data-theme="dark"] {
    --clr-body-bg: #111111;
    --clr-text: #edecea;
    --clr-section-bg: #272727;
    --clr-skill-element-bg: #3e3e3e;
    --clr-primary: #2196f3;
    --clr-input-border:#cdcdcd;
    --clr-input-focus:#4eb2ff;



}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: "Roboto", sans-serif;
    font-size: var(--font-size);
    background: var(--clr-body-bg);
    color: var(--clr-text);
}

p {
    line-height: 1.6;
}

a {
    color: inherit;
    text-decoration: none;
}

header,
main {
    margin-inline: 1rem;
    overflow: hidden;
    z-index: 999;
}

header {


    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-block: 1rem;


        .navbar-elements {
            display: flex;
            align-items: center;
            gap: 1rem;

            .nav-features {

                .theme-option {
                    background: url('./assets/moon-svgrepo-com.svg');
                }

                .nav-toggler {
                    background: none;
                }

                .nav-closer {

                    display: none;
                    position: absolute;
                    top: 2.5rem;
                    right: 1.5rem;
                    background: url('./assets/close-md-svgrepo-com.svg');

                }

                .btn {
                    margin-inline: 0.5rem;
                    border-radius: 50%;
                    width: 2.5rem;
                    aspect-ratio: 1;
                    cursor: pointer;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    border: none;
                    color: var(--clr-text);
                }
            }

            .navbar__links {
                display: flex;
                list-style: none;
                gap: 1.5rem;

                .nav-link {
                    font-weight: 500;

                    &:hover {
                        color: red;
                    }
                }
            }
        }



    }
}

@media screen and (max-width: 50em) {


    .navbar__links {
        display: none;
        position: fixed;
        inset: 0;
        background-color: rgb(40, 40, 40);
        color: whitesmoke;
        text-align: center;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.2s ease-out;
        padding-top: 10rem;
        z-index: 999;
        overflow: hidden;

    }

    .navbar__links[data-visible="true"] {
        transform: translateX(0%);
    }

    .nav-closer {
        display: block;
        z-index: 1001;
    }


}

main {
    .hero-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-block: 4rem;
        gap: 3rem;
        position: relative;
        /* background-color: aliceblue; */

        .hero-section__image {
            position: relative;
            flex: 1;
            margin-right: 1rem;
            /* background-color: green; */

            .element {
                position: relative;

                img {
                    width: 100%;
                    scale: 1.2;
                }
            }
        }

        .hero-content {
            flex: 2;
            display: flex;
            flex-direction: column;
            text-align: center;
            /* border-left: 3px solid rgb(231, 231, 231); */

            hr {
                margin-block: 1rem;
                opacity: 0.4;
            }

            .hero-content__headings {
                h1 {
                    font-size: 3.8rem;
                    line-height: 1.1;
                }

                h2 {
                    font-size: 2.5rem;

                    span {
                        font-family: "Shadows Into Light", cursive;
                        color: var(--clr-primary);
                        font-size: 2.5rem;
                    }
                }
            }

            .hero-content__details {
                margin-top: 1rem;

                p:first-child {
                    font-weight: bold;
                    margin-right: 3rem;
                }
            }

            .hero-content__social-links {

                ul {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 2rem;
                    list-style: none;

                    li {
                        img {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }

    .about-section {
        background-color: var(--clr-section-bg);
        border-radius: 2rem;
        text-align: center;
        padding-block: 3rem;

        h1 {
            font-size: 2.5rem;
            font-family: "Shadows Into Light", cursive;
            display: inline-block;
        }

        p {
            margin-top: 2rem;
            padding-inline: 0.5rem;
            line-height: 1.5;
            /* text-align: justify; */
            padding-inline: 1.5rem;
        }

        .my-skill-set {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 3rem;
            gap: 2rem;

            h2 {
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

            h2::after,
            h2::before {
                content: "";
                height: 5px;
                width: 128px;
                margin-top: 2px;
                border-radius: 0 5px 5px 0;
                background: linear-gradient(90deg, transparent, var(--clr-skill-element-bg));
            }

            h2::after {
                border-radius: 5px 0 0 5px;
                background: linear-gradient(90deg, var(--clr-skill-element-bg), transparent);

            }



            .wrapper {
                max-width: 250px;
                white-space: nowrap;

                .scroller {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 0.5rem;
                    list-style: none;
                    /* animation: 80s slide infinite linear; */


                    li {
                        background-color: var(--clr-skill-element-bg);
                        border-radius: 5px;
                        padding: 0.5rem 1rem;
                        font-weight: bold;
                        font-size: 1rem;
                        box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
                    }

                    [aria-hidden="true"] {
                        display: none;
                    }
                }

            }

        }
    }

    .contact-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        padding-block: 5rem;


        h1 {
            font-size: 2.5rem;
            font-family: "Shadows Into Light", cursive;
        }

        form {
            width: 100%;
            max-width: 600px;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .form-field {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                label {
                    font-size: 1rem;
                }

                input,
                textarea {
                    padding: 1rem;
                    border: 2px solid var(--clr-input-border);
                    background: none;
                    border-radius: 4px;
                    outline: none;
                    font-size: var(--font-size);
                }
                textarea{
                    height: 200px;
                }

                input:focus,
                textarea:focus {
                    border-color: var(--clr-input-focus);
                    color: var(--clr-text);
                }
            }

            button {
                background-color: var(--clr-primary);
                border: none;
                color: var(--clr-text);
                padding: 1rem 2rem;
                align-self: center;
                border-radius: 4px;
                font-weight: bold;
                cursor: pointer;
                font-size: var(--font-size);

                &:hover{
                    background-color: var(--clr-text);
                    color: var(--clr-body-bg);
                }

            }
        }
    }
}

footer {
    width: 100%;
    background-color: var(--clr-text);
    margin-top: 2rem;
    color: var(--clr-body-bg);
    font-size: 0.8rem;
    padding-inline: 1rem;

    .footer-elements {
        display: flex;
        justify-content: space-between;


    }
}



@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }

}

@media screen and (min-width: 50rem) {

    header,
    main {
        margin-inline: 10rem;
    }

    header {
        .navbar {
            .navbar-elements {

                .nav-features {
                    .nav-toggler {
                        display: none;
                    }
                }


            }
        }

    }

    main {
        .hero-section {
            flex-direction: row;
            padding-block: 6rem;

            .hero-content {
                text-align: left;

                .hero-content__social-links {

                    ul {
                        justify-content: flex-start;
                    }
                }
            }


        }

        .about-section {
            padding-block: 5rem;

            p {
                padding-inline: 8rem;
                /* margin-top: 3rem; */
            }

            .my-skill-set {
                .wrapper {
                    max-width: 600px;


                }

                .wrapper[data-animated="true"] {
                    width: max-content;
                    overflow: hidden;
                    -webkit-mask: linear-gradient(90deg, transparent, white 20%);
                    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);

                    .scroller {
                        flex-wrap: nowrap;
                        animation: scroll 10s linear infinite;

                        [aria-hidden="true"] {
                            display: block;
                        }
                    }
                }
            }
        }


    }

    footer {
        padding-inline: 10rem;
    }

}